body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #e0c7c7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 15px;
}

/* .label label {
  display: block;
} */

.error {
  color: rgb(179, 7, 139);
  font-size: 0.9em;
  margin-top: 5px;
}
